@model CategoryListViewModel

<section>
    @if (Model.Categories != null)
    {
        <h1>Categories</h1>
        <ul class="list-group">
            @foreach (var item in Model.Categories)
            {
                <li class="list-group-item">@item.Title</li>
            }
        </ul>
    }
</section>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>